body {
	background-image: url("Ideal Write logo HD-01.png");
}

h1 {
	color: white;
	text-align: center;
	border: 2px solid White;	
}
/* Here, both paragraphs are formatted in white. */
p1, p2 {
	color: white;
	font-size: 20px;
	font-family: verdana;
}
