body {
	background-image: url("Logo.png");
	background-repeat: repeat-x;
}

h1 {
	color: white;
	text-align: center;
	border: 2px solid white;	
}
table, th, td {
	border: 1px solid;
	font-color: white;
	font-family: verdana;
}
table {
	border-collapse: collapse;
}
/* Here, both paragraphs are formatted in white. */
p1, p2, h1 {
	color: white;
	font-size: 20px;
	font-family: verdana;
}
