body {
	background-image: url("Logo.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
}

h1 {
	color: white;
	text-align: center;
	border: 2px solid white;	
}
h1 {
	text-shadow: 2px 2px red;
}
table, th, td {
	border: 1px solid;
	font-color: white;
	font-family: "Lucida Sans";
}
table {
	border-collapse: collapse;
	color: white;
	width: 50%;
}
table {
	border-style: dotted solid double dashed;
	border-color: red, blue, white, yellow;
}
th, td {
	padding: 10px;
}
/* Here, both paragraphs are formatted in white. */
th {
	font-variant: small-caps;
}
p1, p2, p3, h1 {
	color: white;
	font-size: 20px;
	font-family: "Lucida Serif";
}
p {
	margin: 100px 70px;
}
h1 {
	padding: 50px 20px;
}
/* Here was my attempt at creating a CSS Box Model. */
div {
	background-color: blue;
	color: white;
	width: 300px;
	border: 15px solid white;
	padding: 50px;
	margin: 20px;
	overflow: scroll; /* I am trying to apply the overflow "scroll" functionality on my <div> element */
}
p.ex1 {
	outline-style: dotted;
	outline-color: inverted;
	color: white;
}
p.uppercase { /*Here is an attempt to convert the Heading "My Favourite Rules..." into UPPERCASE. */
	text-transform: uppercase;
}
a:link, a:visited {
	background-color: cream;
	color: purple;
	text-decoration: none;
	padding: 15px 28px;
	text-align: center;
	display: inline-block;
}
a.two:hover, a:active {
	background-color: orange;
}
ol.a {
	list-style-type: upper-roman;
	text: white;
	font-family: verdana;
	background: purple;
}
